.grid-container--crew {
  --flow-space: 3rem;
  grid-template-areas:
    "title"
    "image"
    "tabs"
    "content";
}

.grid-container--crew > img {
  grid-area: image;
  max-width: 60%;
  border-bottom: 1px solid hsl(var(--clr-white), 0.1);
}

.grid-container--crew > .dot-indicators {
  grid-area: tabs;
}

.grid-container--crew > .crew-info {
  --flow-space: 1rem;
  margin-top: 3rem;
  grid-area: content;
}

.grid-container--crew > .crew-info > .text-white {
  color: hsl(var(--clr-white), 0.5);
}

@media (min-width: 35em) {
  .grid-container--crew {
    --flow-space: 4rem;
    padding-bottom: 0;

    grid-template-areas:
      "title"
      "content"
      "tabs"
      "image";
  }

  .grid-container--crew > img {
    max-width: 90%;
    align-self: end;
  }
}

@media (min-width: 45em) {
    .grid-container--crew {
        --flow-space: 4rem;
        padding-bottom: 0;
    
        grid-template-areas:
          ". title image ."
          ". content image ."
          ". tabs image ."
      }

      .grid-container--crew > .dot-indicators {
        padding-bottom: 3rem;
        justify-self: start;
      }

      .grid-container--crew > .crew-info {
        --flow-space: 1.5rem;
      }
}