@media (min-width: 45em) {
  .grid-container--home > *:first-child {
    grid-column: 2;
  }

  .grid-container--home > *:last-child {
    grid-column: 3;
  }

  .grid-container--home {
    padding-bottom: max(6rem, 20vh);
    align-items: end;
  }
}

.home {
  background-image: url("./assets/background-home-mobile.jpg");
}

@media (min-width: 35em) {
  .home {
    position: center center;
    background-image: url("./assets/background-home-tablet.jpg");
  }
}

@media (min-width: 45em) {
  .home {
    background-image: url("./assets/background-home-desktop.jpg");
  }
}
