.technology {
  background-image: url(./assets/background-technology-mobile.jpg);
}

.grid-container--technology {
  --flow-space: 2.5rem;
  grid-template-areas:
    "title"
    "image"
    "tabs"
    "content";
}

.grid-container--technology > .number-indicators {
  grid-area: tabs;
  flex-direction: row;
}

.grid-container--technology > picture {
  grid-area: image;
  margin-left: -1rem;
  transform: scale(1.1);
}


.grid-container--technology > .terminology-info {
  grid-area: content;
}

@media (min-width: 35em) {
  .technology {
    background-image: url(./assets/background-technology-tablet.jpg);
  }

  .grid-container--technology {
    --flow-space: 3rem;
    grid-template-areas:
      "title"
      "image"
      "tabs"
      "content";
  }
}

@media (min-width: 45em) {
  .technology {
    background-image: url(./assets/background-technology-desktop.jpg);
  }

  .grid-container--technology {

    grid-template-columns: minmax(1rem, 1fr) minmax(0, 5rem) minmax(0, 40rem) minmax(0rem, 35rem);

    --flow-space: 3rem;
    grid-template-areas:
      ". title title title"
      ". tabs content image"
      ". tabs content image";
  }

  .grid-container--technology > .number-indicators {
    grid-area: tabs;
    flex-direction: column;
  }
  

  .grid-container--technology > picture {
    grid-area: image;
    justify-self: end;
    margin: -1rem;
  }
}
